<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.art3mis.trivers">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" android:parentActivityName=".LoginActivity" />
        <activity android:name=".PrivateProfileActivity" android:parentActivityName=".MatchActivity" />
        <activity android:name=".ForgotPassActivity" android:parentActivityName=".LoginActivity" />
        <activity android:name=".information" />
        <activity android:name=".TriviasTemasActivity"
            android:label="@string/title_trivias"
            android:parentActivityName=".PrivateProfileActivity"/>
        <activity android:name=".TriviasActivity" android:parentActivityName=".TriviasTemasActivity"/>
        <activity android:name=".PreguntasActivity" android:parentActivityName=".TriviasActivity"/>
        <activity
            android:name=".MatchActivity"
            android:label="@string/title_activity_match"
            android:parentActivityName=".PrivateProfileActivity"/>
    </application>

</manifest>